a:link {
  color: black;
}

a:visited {
  color: grey;
}

a:hover {
  text-decoration: none;
  color: grey;
}

a:active {
    text-decoration: underline;
}

.iconBlock div {
    display: inline-block;
}
